@primary-color: #3fb0fb;
@black: #000;
@white: #fff;
@text-color-secondary: fade(@black, 45%);

@gutter: 24px;
@font-family: "Montserrat", sans-serif;
@text-color: #494949;
@heading-color: @text-color;
@border-radius-base: 4px;
@border-color-base: #434343;

// Main Header Variables
@layout-body-background: @white;
@layout-content-background: #white;
@layout-header-background: @white;
@layout-header-height: 64px;
@layout-header-padding: 0 0;
@layout-header-color: @text-color;
@layout-sidebar-background: #263238;

// Main Header Logo Variables
@logo-height: 42px;
@logo-text-size: 18px;
@logo-space: 10px;

// Section Variables
@section-padding: 50px;
@screen-md: 768px;
@screen-lg: 992px;
@screen-xl: 1200px;
@screen-xxl: 1600px;

@success-color: #52c41a;
@warning-color: #faad14;
@error-color: #f5222d;